<ul class="horizontal-list project-grid">
  {% for item in include.collection %}

    <li class="card project-card">
      <a href="{{ item.url }}">
        <span class="project-index">0{{ forloop.index }}</span>
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
        <span class="card-cta">Open case study</span>
      </a>
    </li>

  {% endfor %}
</ul>
